name: Pull Request

on:
  pull_request:
    branches: [main]
  pull_request_target:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.event.pull_request.head.ref }}

jobs:
  quality_checks:
    if: >-
      (github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]') ||
      (github.event_name == 'pull_request_target' && github.event.pull_request.user.login == 'dependabot[bot]' && github.event.pull_request.head.repo.full_name == github.repository)
    uses: ./.github/workflows/quality-checks.yml
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  pr_title_format_check:
    if: >-
      (github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]') ||
      (github.event_name == 'pull_request_target' && github.event.pull_request.user.login == 'dependabot[bot]' && github.event.pull_request.head.repo.full_name == github.repository)
    uses: ./.github/workflows/pr_title_check.yml

  regression_tests:
    if: >-
      (github.event_name == 'pull_request' && github.event.pull_request.user.login != 'dependabot[bot]') ||
      (github.event_name == 'pull_request_target' && github.event.pull_request.user.login == 'dependabot[bot]' && github.event.pull_request.head.repo.full_name == github.repository)
    uses: ./.github/workflows/regression_tests.yml
    with:
      environment: "dev"
      log_level: "INFO"
      tags: "@regression"
      id: "Run during opened pull request"
      github_tag: ${{ github.event.pull_request.head.ref }}
    secrets: inherit
